* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(125,125,150);
    --secondary-color: rgb(93, 192, 184);
    --tri-color: rgb(152, 107, 176);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Start */
header {
    background: rgba(0,0,0,.8);
    backdrop-filter: saturate(150%) blur(5px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: 100;
    font-size: 4vw;
    color:whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
}

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background:var(--primary-color);
    border-radius: 15px;
}
/* Header End */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    color: var(--primary-color);
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

/* Hero Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 15vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid rgba(125, 125, 125, .5);
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}

.portfolio {
    color: var(--primary-color);
    font-size: 3vw;
    width: 60%;
    justify-self: left;
    align-self: flex-end;
}
/* Hero end */

/* Section formatting */
section {
    padding: 20px;
}
.section-title {
    color: var(--primary-color);
    font-size: 3vw;
    width: 50%;
    border-bottom: 3px solid var(--primary-color);
    margin: 0 auto 10px auto;
    text-align: center;
    width: 50%;
}

.section-content {
    margin: 0 auto;
    width: 75%;
    line-height: 1.7;
    font-size: 2.5vw;
    text-align: center;
}

.section-content img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: auto;
}

/* Grid container */
.grid {
    display: grid;
    grid-gap: 10px;
}

/* Grid child content */
.grid-content {
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--primary-color);
    min-height: 150px;
    display: grid;
}

.grid-content:hover {
    opacity: .6;
}

/* Background images for grid-content */
.run-buddy {
    grid-column: 1 / 4;
    background-image: url("/assets/images/run-buddy.jpg");
}

.led {
    background-image: url("/assets/images/led-wall.jpg");
}

.calc {
    background-image: url("/assets/images/cal.jpg");
}

.surf {
    background-image: url("/assets/images/surf.jpg");
}

/* Formatting text area inside flex element */
.grid-content span {
    margin-top: auto;
    width: 100%;
    background-color: rgba(125, 125, 125, .7);
    color: whitesmoke;
    padding: 3px;
    text-align: center;
}

/* Width at 768px and below */
@media screen and (max-width: 1024px) {
    .grid-content {
    grid-template-columns: 1fr 1fr;
}}
  
/* Width at 600px and below */
@media screen and (max-width: 600px) {
    .grid-content {
        grid-template-columns: 1fr;
        justify-content: center;
}}